.places {
    margin: 0 auto;
    max-width: 984px;
    min-width: 320px;
    padding: 92px 48px 92px 48px;
}
@media screen and (max-width: 1178px) {
    .places {
        padding: 92px 0px 0px 0px;
    }
}
@media screen and (max-width: 1023px) {
    .places {
        padding: 92px 0px 0px 0px;
    }
}
@media screen and (max-width: 767px) {
    .places {
        padding: 67px 0px 0px 0px;
    }
}