.photo-grid__item {
    display: block;
    height: 100%;
    width: 100%;
    max-width: 284px;
    max-height: 214px;
    object-fit: cover;
    object-position: center center;
}
@media screen and (max-width: 1179px) {
    .photo-grid__item {
        max-width: 300px;
    }
}
@media screen and (max-width: 1023px) {
    .photo-grid__item {
        max-width: 355px;
    }
}
