.intro {
    padding: 0 148px;
    padding-top: 92px;
    max-width: 1184px;
    margin: 0 auto;
}

@media screen and (max-width: 1023px) {
    .intro {
        padding: 89px 24px 0 24px
    }
}
/* @media screen and (max-width: 768px) {
    .intro {
        padding: 64px 16px 0 16px;
    }
} */