.intro {
    padding-left: 148px;
    padding-top: 92px;
    max-width: 1184px;
}
@media screen and (max-width: 1024px) {
    .intro {
        padding-top: 88px;
        padding-left: 48px;
    }
}
@media screen and (max-width: 768px) {
    .intro {
        padding: 64px 16px 0 16px;
    }
}