.cover__title {
    display: block;
    margin: 0 auto;
    max-width: 560px;
    font-style: normal;
    font-weight: 900;
    font-size: 72px;
    line-height: 76px;
    text-decoration: none;
    text-align: center;
    color: #FFFFFF;
    z-index: 1;
}

    