.place {
    padding-top: 80px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(320px, auto));
    gap: 48px 40px; 
}
.place:last-child {
    margin-bottom: 80;
}
@media screen and (max-width: 1179px) {
    .place {
        column-gap: 14px;
    }
}
@media screen and (max-width: 1023px) {
    .place {
        padding-top: 70px;
        gap: 48px 28px;
        padding-left: 24px;
        padding-right: 24px;
    }
}
