.footer {
    max-width: 1184px;
    margin: 0 auto;
    padding: 92px 48px 24px 48px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}
@media screen and (max-width: 768px) {
    .footer {
        padding-top: 64px;
        padding-left: 16px;
        flex-direction: column;
        align-items: flex-start;
        gap: 48px;
    }
}